@import "components/menu-dash.scss";
@import "components/rodape.scss";
@import "components/menu-all.scss";


//login

.login-body {
  background: url("/images/vetor2.png");
  background-position: left bottom;
  background-size: 50%;
  background-repeat: no-repeat;
}

.login-container {
  position: relative;
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.login-quadrado {
}

.logo-menu img {
  width: 40px;
  margin-right: 20px;
  margin-left: 10px;
}

.login-img {
  width: 100%;
  /* background: linear-gradient(to right, #00a3e0, #16d9cf); */
  /* background: url("../storage/imagesAuth/login-img.jpg"); */
  background-size: cover;
  /* box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.2); */
  z-index: 99;
}

.login-img img {
  width: 250px;
    /* margin: 0 auto;
    margin-top: 20px;
    display: flex;  */
}
  
  .login-img h3 {
    font-weight: bolder;
    font-size: 55px;
    color: #121821;
    text-align: left;
    margin-top: 160px;
  }
  
  .col-2-login {
    /* background: white; */
    /* height: 650px; */
    margin: auto;
    /* box-shadow: 80px -40px 0px 10px rgba(54, 212, 255, 0.1); */
  }
  
  .col-2-login .login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
  }
  
  .tot-col-2 {
    /* height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto; */
  }
  
  .cima-col-2 {
    display: block !important;
  }
  .col-2-login .login-form form {
  }
  
  .col-2-login .login-form input {
    display: block;
    background: none;
    margin: auto;
    display: flex;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 13px;
    background: #e9eff6;
  }
  
  .col-2-login .login-form input:focus {
    transition: 0.3s ease-in-out;
  }
  
  .col-2-login .login-form input[type="submit"] {
    /* background: linear-gradient(to right, #00a3e0, #16d9cf, #00a3e0); */
    /* background-size: 800%; */
    /* background-position: 0; */
    background: $blue-active;
    border: none;
    color: white;
    padding: 0;
    padding: 15px;
    padding-right: 110px;
    padding-left: 110px;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 12px 12px 20px $shadow-blue-active;
    /* border-bottom: 5px solid #00a3e0; */
    /*border-radius: 10px;*/
  }
  
  .col-2-login .login-form input[type="submit"]:hover {
    /* background: linear-gradient(to right, #00a3e0, #16d9cf, #00a3e0); */
    /* background-size: 200%; */
    /* background-position: -300px; */
    transition: 1s ease;
    cursor: pointer;
    /* border-bottom: 5px solid #0485b5; */
  }
  
  .topo-login h3 {
    font-weight: lighter;
    font-size: 30px;
    color: #4d4d4d;
    text-align: left;
    margin-top: 10px;
    margin-left: -20px;
  }
  
  .topo-login img{
    width: 100%;
    margin: 0 auto;
  }
  
  .rodape-login {
    background: rgba(200, 200, 200, 0.4);
    margin-top: 20px;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;

  }
  
  .rodape-login p {
    font-weight: lighter;
    font-size: 15px;
    color: #4d4d4d;
    text-align: center;
    margin-top: 10px;
  }
  
  .senha-esq-login {
    display: flex;
    width: 200px;
    text-align: right;
  }
  
  .senha-esq-login a {
    color: rgb(146, 146, 146)!important;
    text-align: right;
  }
  
  /* ====== Index ======  */
  
  .bg-index {
    background: rgb(213, 225, 236);
  }
  
  /* ====== Esqueceu Sua Senha ======  */
  
  .bg-esqueceu_senha {
    background: url("../storage/imagesAuth/fundo-esqueceu_senha.jpg");
    /* background: aliceblue; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .col-1-esqueceu {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .col-1-esqueceu-div {
    background: rgba(255, 255, 255, 0.95);
    background: url("../storage/imagesAuth/img-esqueceu_senha.jpg");
    background-size: cover;
    height: 80%;
    width: 70%;
    margin: auto 0 auto auto;
  }
  
  .col-2-esqueceu {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  .col-2-esqueceu-div {
    background: rgba(255, 255, 255, 0.95);
    height: 75%;
    width: 70%;
    margin: auto auto auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .col-esqueceu-div form {
  }
  
  .col-2-esqueceu-div form input {
    display: block;
    background: none;
    display: flex;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 100px;
    border: 1px solid gray;
    margin-bottom: 30px;
  }
  
  .col-2-esqueceu-div form h3 {
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 30px;
    /* background: rgb(200,200,200, 0.4); */
    /* background: linear-gradient(to right, rgba(0,0,0,0), rgba(0, 163, 224,0.4),rgba(0,0,0,0)); */
    padding: 10px;
  }
  
  .col-2-esqueceu-div .baixo-esqueceu {
    display: block;
    text-align: center;
    font-weight: lighter;
    margin-top: 20px;
    /* background: rgb(200,200,200, 0.4); */
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(200, 200, 200, 0.4),
      rgba(0, 0, 0, 0)
      );
    padding: 10px;
  }
  
  .col-2-esqueceu-div form button {
    background: linear-gradient(to right, #00a3e0, #16d9cf, #00a3e0);
    background-size: 800%;
    background-position: 0;
    border: none;
    color: white;
    display: block;
    padding: 0;
    padding: 10px;
    padding-right: 110px;
    padding-left: 110px;
    border-bottom: 5px solid #00a3e0;
    border-radius: 100px;
  }
  
  .col-2-esqueceu-div form button:hover {
    background: linear-gradient(to right, #00a3e0, #16d9cf, #00a3e0);
    background-size: 200%;
    background-position: -300px;
    transition: 1s ease;
    cursor: pointer;
    border-bottom: 5px solid #0485b5;
  }
  
  .titulo-col-2-esqueceu-div h3 {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: rgb(65, 65, 65);
    letter-spacing: -2px;
    /* background: -webkit-linear-gradient(75deg, rgb(0, 163, 224,0.4), rgb(22, 217, 207,0.6)); */
    /* background: -webkit-linear-gradient(75deg, #16d9cf,#00A3E0); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* text-shadow: 0px 3px 8px rgb(0, 0, 0, .05); */
  }
  
  
  @media (max-width: 1200px) {
    .sidebar {
      margin-left: -230px;
    }
    .sidebar.toggled {
      margin-left: 0;
    }

    .login-img {
      width: 100%;
      /* background: url("../storage/imagesAuth/login-img-escuro.jpg"); */
      /* background-size: cover; */
    }

    .login-img img {
      display: none;
      display: flex;
      justify-content: center;
      align-items: center;
      /*margin-top: 350px;*/
      margin: auto;
      margin-top: 350px;
      height: 250px;
      width: 250px;
    }

    .login-img h3 {
      text-shadow: 5px 0px 20px 10px rgba(0, 0, 0, 1);
      margin-top: 20px;
    }

    .col-1-esqueceu-div {
      height: 100%;
      width: 100%;
    }

    .col-2-esqueceu-div {
      height: 100%;
      width: 100%;
    }

    .login-body{
      background: white;
    }

    .login-img h3{
      font-size: 25px;
      text-align: center;
      /* margin-bottom: 60px; */
      display: none;
    }
  }
