.menu-cima {
  background: #00a3e0;
  background: linear-gradient(to right, #00a3e0, #16d9cf);
  padding: 20px;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.3);
}

.sidebar-background {
  background: red !important;
}

.content-wrapper {
  // background: url("/storage/imagesAuth/wave-blue-one.png")!important;
  // background-size:;
  // background-repeat: no-repeat;
}

.nav-left {
  padding-top: 10px;
  background: url("/storage/imagesAuth/wave-blue-3.png") !important;
  background-attachment: fixed !important;
  background-position-y: bottom !important;
  background-repeat: no-repeat !important;
}

.nav-left .brand-text {
  color: #00cfff;
}

.nav-left-border {
}

.nav-left ul li {
}

.nav-left ul li a {
  // background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  // color: #4ad2fe!important;
  color: #acbdc2 !important;
  border: solid 2px rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  margin-bottom: 14px !important;
}

.nav-left ul li a i {
  // margin-left: 20px;
}

.nav-left ul li a:hover {
  background: #d5f1fb;
  border-radius: 100px;
  // color:#00A3E0!important ;
  color: #4ad2fe !important;
  // box-shadow: 0px 0px 15px 0px rgba(0, 164, 224, 0.048);
  // animation: border-animate1 8s infinite;
  // border: solid 2px rgb(205, 223, 228);
  // border: 1px solid #4ad2fe;
}

.nav-left ul li .active {
  background: #00cfff !important;
  border-radius: 100px;
  color: white !important;
}

.nav-left ul li .active:hover {
  color: white !important;
}

@keyframes border-animate1 {
  0% {
    border-radius: 64% 36% 81% 19% / 30% 29% 71% 70%;
  }

  25% {
    border-radius: 27% 73% 41% 59% / 66% 29% 71% 34%;
  }

  50% {
    border-radius: 65% 35% 33% 67% / 79% 29% 71% 21%;
  }

  75% {
    border-radius: 22% 78% 73% 27% / 26% 29% 71% 74%;
  }

  100% {
    border-radius: 64% 36% 81% 19% / 30% 29% 71% 70%;
  }
}

.content-wrapper {
  // background: rgb(49, 56, 68)!important;
  // background: url('/storage/imagesAuth/vetor1.png')!important;
  background: #f6f9fb !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position-x: right !important;
  background-position-y: bottom !important;
  background-size: 512px !important;
}

.elevation-4 {
  box-shadow: 0 0 5px 0 rgb(231, 238, 241) !important;
}

.nav-top {
  border: none;
  // box-shadow: 20px 0 5px 0 #e7eef1 !important;
  background: #edf0f2 !important;
}

.nav-top ul li a i {
  color: #acbdc2 !important;
}

.nav-treeview {
  // padding-left: 20px!important;
  // background: #f6f9fb!important;
  transition: none;
  background: #edf0f2;
}

.menu-open {
  transition: none;
}
