@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

html,
body {
  height: 100%;
}
html {
  font-size: 14px;
}
body {
  overflow-x: hidden;
  font-family: "Roboto" !important;
}

.swal-overlay
{
  z-index: 100000000000; !important
}



